@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

*{
    font-family: Signika;
}

body{
    background-color: rgb(50, 50, 50);
}

.buttons{
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: white;
    cursor: pointer;
}

#notificationBox{
    background-color: red;
    display: flex;
    bottom: 30px;
    right: 30px;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    padding: 1em;
}

.notification{
    background-color: white;
}