@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

*{
    font-family: Signika;
}

body{
    background-color: rgb(50, 50, 50);
}

.buttons{
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: white;
    cursor: pointer;
}

#notificationBox{
    display: flex;
    bottom: 30px;
    right: 30px;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    padding: 1em;
}

.notification{
    width: 20em;
    padding: 1em;
    display: flex;
    align-items: center;
    height: 2.5em;
    margin: 0.5em;
    position: relative;
}

.notification-text{
    width: 100%;
    margin-left: 2em;
}

.emoji{
    font-size: 2em;
}

.emoji-success{
    color: green;
}

.notification-success{
    background-color: rgb(227, 255, 227)
}

.emoji-error{
    color: red
}

.notification-error{
    background-color: rgb(255, 220, 220);
}

.emoji-invalid{
    color: orange
}

.notification-invalid{
    background-color: rgb(255, 241, 214)
}

.notification::after{
    animation: borderShrink 3s linear forwards;
    content : "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.3em;
}


@keyframes borderShrink {
    from{
        width: 100%;
    }to{
        width:0;
    }
}

.notification-error::after{
    background-color: red;
}

.notification-success::after{
    background-color: green;
}

.notification-invalid::after{
    background-color: orange;
}